<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EC92009B1DCE8B22001620D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9200AF1DCE8B22001620D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC9200BA1DCE8B22001620D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
